{% extends '../base.html' %}
{% load static %}

{% block content %}

<div class="center" style="padding-left: 10%;">
    <form method="post" action="{% url 'student:dashboard' usn %}">
        {% csrf_token %}
        {% for i in number %}
        <h4>Subject {{i}}</h4> 
        <div class="position" style="margin-bottom: 1%; width: 50%;">
              <label for="exampleInputCode" class="form-label text">Course Code</label><br>
              <input class="form-control border" name='code' type="text" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Course Code">
          </div>
          <div class="position" style="margin-bottom: 1%; width: 50%;">
            <label for="exampleInputName" class="form-label text">Course Name</label><br>
            <input class="form-control border" name='name' type="text" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Course Name">
        </div>
        <div class="position" style="margin-bottom: 1%; width: 50%;">
            <label for="exampleInputCredit" class="form-label text">Credits</label><br>
            <input class="form-control border" name='credits' type="number" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Credits">
        </div>
        <div class="position" style="margin-bottom: 1%; width: 50%;">
            <label for="exampleInputReg" class="form-label text">Registration(Regular/Re-register):</label><br>
            <input class="form-control border" name='reg' type="text" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Registration Type">
        </div>
        <div class="position" style="margin-bottom: 1%; width: 50%;">
            <label for="exampleInputAtempt" class="form-label text">Attempt No</label><br>
            <input class="form-control border" name='attempt' type="number" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Attempt Number">
        </div>
        {% endfor %}
          <div>
              <button style="background-color: #1b62bf; border: none; width: 50%; border-radius: 5px; padding: 1%; color: white" type="submit">Login</button>
          </div>
      </form>
</div>
{% endblock content %}